data.exercise 
  data.realization Use <code>?</code> to call a function only if it exists
  data.example-code.
    barn = 
      horse:
        run: ()-> 'gallop' for i in [0..3]

    console.log barn.horse.run()
    console.log barn.horse.fly()
    console.log barn.horse.fly?()

  data.instruction Define barn in the editor like in the example code.
  data.instruction Run the console.log statements in the console.
  data.instruction What happens if you run the same statements without <code>?</code>
  data.user-code yes