data.exercise 
  data.realization Use <code>?</code> to do some error handling
  data.example-code.
    console.log 'unicorns are real!' if unicornsExist
    console.log 'unicorns are real!' if unicornsExist?

    unicornsExist = false
    console.log 'uncorns are real!' if unicornsExist
    console.log 'uncorns are real!' if unicornsExist?
  data.instruction Enter each of the lines (in order) from the example code above into the console.
  data.instruction Observe which statements create errors.
  data.instruction Observe that the <code>?</code> operator is not a replace for boolean logic.
