data.exercise 
  data.realization Do some error checking with <code>?</code> the existantial operator
  data.example-code.
    console.log 'uncorns are real: ', unicornsExist if unicornsExist?
    console.log '# unicorns: ', numberOfUnicorns if numberOfUnicorns?

    numberOfUnicorns = 0
    unicornsExist = false

    console.log 'uncorns are real: ', unicornsExist if unicornsExist?
    console.log '# unicorns: ', numberOfUnicorns if numberOfUnicorns?
  data.instruction Enter the example code above into the console.