data.lessonplan 
  data.title The Existential ?
  include find-out-if-a-variable-exists
  include set-a-variable-only-if-it-does-not-exist
  include call-a-function-only-if-it-exists
  include use-existential-operator-in-a-chain