data.exercise 
  data.realization Use <code>?</code> to set default values
  data.description
  data.example-code.
    setProfile = (profile)->
      profile ?= {}
      profile.name ?= 'guest'
      console.log 'profile:', profile

    setProfile()
    setProfile age: 25
    setProfile name: 'misty'
  data.instruction Enter the setProfile function into the editor.
  data.instruction Use console.log to call it with different hash values, or with no value at all.
