data.exercise 
  data.realization Use <code>?</code> to set a variable if it does not already exist
  data.description
  data.example-code.
    age = 32
    name ?= 'misty'
    age ?= 25

    console.log 'name: ', name
    console.log 'age: ', age
  data.instruction Enter the example code above into the console.