data.exercise 
  data.realization Use <code>?</code> to soak up errors in chain
  data.description
  data.example-code.
    console.log h.run?()
    console.log h.fly?()

    console.log p.run?()
    console.log p.fly?()

  data.user-code.
    barn = 
      horse:
        run: ()-> 'gallop' for i in [0..3]

    h = barn.horse
    p = barn.pig

  data.instruction Run the console.log statements from the exampe above in the console below.
  data.instruction Add <code>?</code> where necessary to soak up any errors.