font-family-base = 'Bitter', serif
font-family-section-name = 'Open Sans', sans-serif
font-family-header = 'Bitter', serif
font-family-code = 'SourceCode Pro', monospace
color-light-grey = #b8babd
color-medium-grey = #64666f
color-dark-grey = #292a2f
color-c5-orange = #f15d2a
color-code-background= #073642

@-o-keyframes highlightinstructions
  0%, 100% { color: color-dark-grey }
  80% { color color-c5-orange }
@-ms-keyframes highlightinstructions
  0%, 100% { color: color-dark-grey }
  80% { color color-c5-orange }
@-moz-keyframes highlightinstructions
  0%, 100% { color: color-dark-grey }
  80% { color color-c5-orange }
@-webkit-keyframes highlightinstructions
  0%, 100% { color: color-dark-grey }
  80% { color color-c5-orange }
@keyframes highlightinstructions
  0%, 100% { color: color-dark-grey }
  80% { color color-c5-orange }

ease-transitions()
  -webkit-transition all 0.2s ease
  -moz-transition all 0.2s ease
  -ms-transition all 0.2s ease
  -o-transition all 0.2s ease
  transition all 0.2s ease

ease-color-transitions()
  -webkit-transition background-color .15s ease, color .5s ease
  -moz-transition background-color .15s ease, color .5s ease
  -ms-transition background-color .15s ease, color .5s ease
  -o-transition background-color .15s ease, color .5s ease
  transition background-color .15s ease, color .5s ease

.markup
  display none

code
  font-family font-family-code
  background-color color-code-background
  color color-light-grey
  padding 0 3px
  font-size 14px

h3
  code
    font-size 24px

html, body
  -webkit-transition top 0.8s ease
  -moz-transition top 0.8s ease
  -ms-transition top 0.8s ease
  -o-transition top 0.8s ease
  transition top 0.8s ease


body, p, ol, ul, li
  margin 0
  padding 0

body
  min-height 1500px
  font-family font-family-base
  font-weight normal

.ace_gutter, .ace_scroller
  padding 8px 0

.centered
  margin 0 auto
  max-width 2000px
  min-width 960px
  width 80%

.section-name
  font-family font-family-section-name
  font-size 12px
  text-transform uppercase

a.next
  color white
  line-height 54px
  text-align left
  text-indent 20px          
  font-family font-family-section-name
  background-image url('/images/button-arrows-next.png')
  width 90px
  height: 60px
  ease-color-transitions()
  &:hover
    background-position 0 -60px
    color color-c5-orange

h1, h2, h3, h4
  font-family font-family-header

h1
  font-size 36px
h2
  font-size 32px
  font-weight normal
h3
  font-size 24px
h4
  font-size 16px

input.run-users-hack
  background-color white
  border 2px solid color-c5-orange
  color color-c5-orange
  font-size 18px
  line-height 32px
  min-width 80px
  -o-border-radius 8px
  -ms-border-radius 8px
  -moz-border-radius 8px
  -webkit-border-radius 8px
  border-radius 8px
  font-weight bold
  ease-transitions()
  &:hover
    font-size 20px

nav ol li, nav ul li
  input[type=submit]
    background-color color-medium-grey
    border 2px solid white
    -o-border-radius 50%
    -ms-border-radius 50%
    -moz-border-radius 50%
    -webkit-border-radius 50%
    border-radius 50%
    ease-color-transitions()

    font-weight bold
    &:hover
      background-color color-c5-orange
    &.active
      color white
      background-color color-c5-orange
    &.active:hover
      color white
      background-color color-c5-orange

  input.show-lesson
    color color-light-grey
    font-size 16px
    height 40px
    line-height 40px
    margin-right 4px
    min-width 40px
    padding 0 4px
  input.show-exercise
    color color-light-grey
    font-size 12px
    height 28px
    line-height 28px
    margin-right 4px
    min-width 28px
    padding 0 2px

nav.lesson
  margin-top 8px
  ol
    margin-top 8px
    li
      display inline-block

nav.exercise
  padding 16px 0
  ul
    margin-left 8px
    list-style none
    li
      min-height 28px
      margin 4px 0
      max-width 95%
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;      


body
  background-image url('/images/background-mac.jpg')
  border 0
  margin 0
  padding 50px
  header
    text-align center
    p.section-name
      color white
    h1
      color white
      margin 4px 0 80px 0
  .course
    background-color color-dark-grey
    lesson-nav-offset = 54px
    margin-top (1.5 * lesson-nav-offset)
    position relative
    .header
      color white
      padding-top 30px
      text-align center
      a.by-carbon-five
        text-indent 200%
        position absolute
        display inline-block
        background-image url('/images/c5-logo.png')
        logo-size = 60px
        width logo-size
        height logo-size
        top -(logo-size / 2)
        right -(logo-size / 2)
      nav.lesson
        position absolute
        top - (lesson-nav-offset)
        width 100%          
      h2
        margin 0 0 20px 0
        color white
        .preview
          color color-light-grey
    .exercise-container
      exercise-spacing = 24px
      background-color white
      padding-bottom 20px
      position relative
      overflow hidden
      .header
        exercise-header-height = 60px
        color color-dark-grey
        padding exercise-spacing 0
        h3
          margin 0
          color color-dark-grey
          line-height exercise-header-height
        a.next
          position absolute        
          display inline-block
          right exercise-spacing
          top exercise-spacing
      .exercise-spot
        position relative
        top -40px
        width 60%
        float left
        margin-left exercise-spacing
        padding-bottom exercise-spacing
        .exercise
          h4
            margin 20px 0 4px 0
          .instructions
            h4
              // font-size 18px
              ease-color-transitions()
              -o-animation:  highlightinstructions 8s step-end 1
              -ms-animation:  highlightinstructions 8s step-end 1
              -moz-animation:  highlightinstructions 8s step-end 1
              -webkit-animation: highlightinstructions 8s step-end 1
              animation: highlightinstructions 8s step-end 1
            ol
              padding-left 40px
          .editor
            position relative
            width 100%
            height 150px
            padding 0
            margin 0 0 8px 0
            ease-transitions()
            .coffee-syntax-editor, .js-syntax-editor, .example-code-editor, .given-code-editor, .user-code-editor
              height 150px
              width 100%
              margin auto
          .user-console
            height 80px
            width 100%
            position relative
            font-family 'Source Code Pro', monospace
            background-color #0B202A
            color #526870
            border 2px solid #526870
            margin-top 8px
      nav.exercise
        position relative
        background-color color-light-grey
        float right
        margin-right exercise-spacing
        padding-bottom exercise-spacing
        width 30%
        p.section-name
          text-align center
    .footer
      a.next
        position relative
        display inline-block
        top -68px
        left 22px