data.lessonplan 
  data.title [Lesson Title]
  //- include course.lesson.nn.x.01.jade
  //- include course.lesson.01.x.02.jade
  //- include course.lesson.nn.x.01.jade
  //- include course.lesson.01.x.02.jade