data.exercise 
  data.realization [realization]
  data.description
  data.js-syntax
    | [some code]
    | [some code]
  data.coffee-syntax
    | [some code]
    | [some code]
  data.example-code
    | [some code]
    | [some code]
  data.given-code
    | [some code]
    | [some code]
  data.user-code true
  data.instruction [instruction]
  data.instruction [instruction]
  data.user-console true
