data.exercise 
  data.realization Skip uneccessary punctuation
  data.description 
  data.coffee-syntax 
    | alert 'Hi'
  data.example-code 
    | nickname = prompt 'What is your nickname?'
    | console.log 'Hi ' + nickname
  data.instruction Enter the example again: this time without uneccessary punctuation.
  data.user-console true