data.lessonplan 
  data.title How to Call A Function
  include course.lesson.01.x.01.jade
  include course.lesson.01.x.02.jade
  include course.lesson.01.x.03.jade
  include course.lesson.01.x.04.jade