data.exercise 
  data.realization Functions can be called just like in JavaScript
  data.description
  data.js-syntax
    | alert('Hi');
  data.coffee-syntax
    | alert('Hi');
  data.example-code
    | nickname = prompt('What is your nickname?');
    | console.log('Hi ' + nickname);
  data.given-code
    | nickname = prompt('What is your nickname?');
    | console.log('Hi ' + nickname);
  data.user-code true
  data.instruction Run the two lines of example code above by typing it into the console below.
  data.instruction Explore around in the CoffeeScript console to get familiar with it.
  data.user-console true
