data.exercise 
  data.realization Skip uneccessary punctuation
  data.coffee-syntax.
    alert 'Hi'
  data.example-code.
    nickname = prompt 'What is your nickname?'
    console.log 'Hi ' + nickname
  data.instruction Run the example again: this time without parenthesis and drop the semicolons.
  data.user-console true