extends layout

block content
  link(rel='stylesheet', type='text/css', href='./css/jq-console/jq.css')
  link(rel='stylesheet', type='text/css', href='./css/essence-of-coffeescript.css')

  script(type='text/javascript', src="./js/vendor/jqconsole.min.js")
  script(type="text/javascript", src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", charset="utf-8")

  script(type='text/coffeescript', src='./coffee/essence-of-coffeescript.coffee')
  script(type='text/coffeescript', src='./coffee/jquery.essence-of-coffeescript.coffee')
  script(type='text/coffeescript', src='./coffee/console/console.coffee')
  script(type='text/coffeescript', src='./coffee/editor/editor.coffee')
  script(type='text/coffeescript', src='./coffee/editor/javascript-editor.coffee')
  script(type='text/coffeescript', src='./coffee/editor/coffeescript-editor.coffee')
  script(type='text/coffeescript', src='./coffee/exercise.coffee')
  script(type='text/coffeescript', src='./coffee/lesson-plan.coffee')
  script(type='text/coffeescript', src='./coffee/course.coffee')

  script(type='text/template', id='course-template')
   .course 
    h1 Essence of CoffeeScript: Syntax Shortcuts
     .lesson-navbar 
      ol
      h2.lesson-title
    .exercise-navbar
    .realization
    .course-content 
     .exercise 
       p.description

       #js-syntax
         h3 Syntax - JavaScript 
         .editor 
           #js-syntax-editor
                 
       #coffee-syntax
         h3 Syntax - CoffeeScript
         .editor 
           #coffee-syntax-editor
       
       #example-code 
         h3 Example - CoffeeScript
         .editor 
           #example-code-editor   
       
       .instructions 
         h3 Interactive Practice:
         ol
       
       #given-code 
         h3 Given the following code
         .editor 
           #given-code-editor
       
       #user-code 
         h3 Interactive Editor - CoffeeScript
         .editor 
           #user-code-editor
         
         #user-code-error 
       
       #user-console
     
    input.next-exercise(type='submit', value='Next')

  include course/course

  #course-spot

  script(type='text/coffeescript')
    $ = jQuery
    $ ->course = new EssenceOfCoffeeScript.Course elSpot: '#course-spot'

  script(type='text/javascript', src='./js/vendor/coffee-script.js')