doctype 5
html(lang="en")
  head
    title Essence of CoffeeScript Tutorial
    meta(name="robots", content="noindex")
    script(type="text/javascript", src="./js/vendor/jquery.js")
    script(type="text/javascript", src="./js/vendor/underscore.min.js")
    script(type="text/javascript", src="./js/vendor/backbone.min.js")
    link(rel="stylesheet", type="text/css", media="all", href="./css/wp-content/themes/carbonfive/blog.css")
    block head

  body
    #wrapper.hfeed'
      #main
        #container
          #content(role='main')
            block content
