extends layout

block content
  link(rel='stylesheet', type='text/css', href='./css/jq-console/jq.css')
  link(rel='stylesheet', type='text/css', href='./css/style.css')

  script(type='text/javascript', src="./js/vendor/jqconsole.min.js")
  script(type="text/javascript", src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js", charset="utf-8")

  script(type='text/coffeescript', src='./coffee/essence-of-coffeescript.coffee')
  script(type='text/coffeescript', src='./coffee/jquery.essence-of-coffeescript.coffee')
  script(type='text/coffeescript', src='./coffee/console/console.coffee')
  script(type='text/coffeescript', src='./coffee/editor/editor.coffee')
  script(type='text/coffeescript', src='./coffee/editor/javascript-editor.coffee')
  script(type='text/coffeescript', src='./coffee/editor/coffeescript-editor.coffee')
  script(type='text/coffeescript', src='./coffee/exercise.coffee')
  script(type='text/coffeescript', src='./coffee/lesson-plan.coffee')
  script(type='text/coffeescript', src='./coffee/course.coffee')

  script(type='text/template', id='course-template')
    header.centered
      p.section-name - tutorial -
      h1 Essence of CoffeeScript: Syntax Shortcuts
    #course.centered
      .header
        a.by-carbon-five c5
        nav.lesson
          p.section-name - lessons -
          ol
            li 
              input.show-lesson(type='submit', value='1', data-idx='1')
            li
              input.show-lesson.active(type='submit', value='2', data-idx='2')
            li 
              input.show-lesson(type='submit', value='3', data-idx='3')
            li 
              input.show-lesson(type='submit', value='4', data-idx='4')
            li 
              input.show-lesson(type='submit', value='5', data-idx='5')
            li 
              input.show-lesson(type='submit', value='6', data-idx='6')
            li 
              input.show-lesson(type='submit', value='7', data-idx='7')
            li 
              input.show-lesson(type='submit', value='8', data-idx='8')
        h2 A Handfull of Fundamentals
      .exercise-container
        .header
          h3 Punctuation is optional, so skip it ;}),
          a.next Next
        .exercise 
         p.description

         .js-syntax
           h4 Syntax - JavaScript 
           .editor 
             .js-syntax-editor
                   
         .coffee-syntax
           h4 Syntax - CoffeeScript
           .editor 
             .coffee-syntax-editor
         
         .example-code 
           h4 Example - CoffeeScript
           .editor 
             .example-code-editor   
         
         .instructions 
           h4 Interactive Practice:
           ol
         
         .given-code 
           h4 Given the following code
           .editor 
             .given-code-editor
         
         .user-code 
           h4 Interactive Editor - CoffeeScript
           .editor 
             .user-code-editor
         
         .user-console

        nav.exercise
          p.section-name - exercises -
          ul
            li
              input.show-exercise(type='submit', value='1', data-idx='1')
            li
              input.show-exercise.active(type='submit', value='2', data-idx='2')
            li 
              input.show-exercise(type='submit', value='3', data-idx='3')
            li 
              input.show-exercise(type='submit', value='4', data-idx='4')


  script(type='text/template', id='exercise-template')
   .exercise 
     p.description

     .js-syntax
       h4 Syntax - JavaScript 
       .editor 
         .js-syntax-editor
               
     .coffee-syntax
       h4 Syntax - CoffeeScript
       .editor 
         .coffee-syntax-editor
     
     .example-code 
       h4 Example - CoffeeScript
       .editor 
         .example-code-editor   
     
     .instructions 
       h4 Interactive Practice:
       ol
     
     .given-code 
       h4 Given the following code
       .editor 
         .given-code-editor
     
     .user-code 
       h4 Interactive Editor - CoffeeScript
       .editor 
         .user-code-editor
     
     .user-console


  include course/course

  #course-spot


  script(type='text/coffeescript')
    $ = jQuery
    $ ->course = new EssenceOfCoffeeScript.Course elSpot: '#course-spot'

  script(type='text/javascript', src='./js/vendor/coffee-script.js')