data.exercise 
  data.realization.
    Read a line from right to left
  data.example-code.
    console.log 'Hi ' + prompt "What's your nickname?"
  data.instruction Predict what the example code above will do by reading it from right to left.
  data.instruction Enter it into the editor and run it to see if you got it exactly right.
  data.instruction If necessary, adjust your prediction and run it again :)
