data.exercise 
  data.realization.
    Use punctuation wherever it adds readability
  data.example-code.
    console.log 'Hi ' + (prompt "What's your nickname?")
    console.log 'Hi ' + prompt("What's your nickname?")
  data.instruction Experiment with different placement of parenthesis.
  data.instruction Find a style that enhances the readability of your code for others.