data.exercise 
  data.realization The body of a loop can come first
  data.description
  data.example-code.
    digits = [0..9]
    console.log i for i in digits

    theme = {text: 'blue', button: 'red'}
    console.log key, val for key,value of theme
  data.instruction enter the example code above into the console
