data.exercise 
  data.realization Loop through an array
  data.js-syntax.
    for(var i = 0; i < 10; i++) { console.log(i); };
  data.coffee-syntax.
    console.log i for i in [0..9]
  data.example-code.
    console.log i for i in [0..9]    
  data.instruction [instruction]
  data.instruction [instruction]
  data.user-code true
