data.exercise 
  data.realization Loop through a hash
  data.description
  data.js-syntax.
    [some code]
    [some code]
  data.coffee-syntax.
    [some code]
    [some code]
  data.example-code.
    [some code]
    [some code]
  data.given-code.
    [some code]
    [some code]
  data.instruction [instruction]
  data.instruction [instruction]
  data.user-code true
