data.exercise 
  data.realization The body of a loop can come before or after
  data.description
  data.example-code.
    console.log i for i in [0..9]
    for i in [0..9]
      console.log i 
  data.given-code.
    [some code]
    [some code]
  data.instruction [instruction]
  data.instruction [instruction]
  data.user-code true
