data.lessonplan 
  data.title Some Loopy Situations
  include use-in-to-loop-through-an-array
  include use-of-to-loop-through-a-hash
  include body-of-a-loop-can-come-first
  include loop-returns-an-array