data.exercise 
  data.realization A loop retuns an array 
  data.example-code.
    digits = (i for i in [0..9])
  data.instruction run the example code in the console to see what the value of digits will be
  data.user-code true  
  