data.exercise 
  data.realization A loop retuns an array 
  data.example-code.
    oddDigits = (1 + i*2 for i in [0..4])
  data.instruction Run the example code in the console to see that oddDigits is actually an array of values.
