data.exercise 
  data.realization use of to loop through a hash
  data.example-code.
    reportTheme = ()->
      theme = text: 'blue', button: 'red'
      for key, value of list
        console.log "\#{key} is set to \#{value}"
  data.instruction Enter the example code above into the editor
  data.instruction call <code>reportTheme()</code> from the console
  data.user-code true