data.exercise 
  data.realization use in to loop through an array
  data.example-code.
    printDigits = ()->
      digits = [0..9]
      for digit in digits
        console.log 'digit: ', digit
  data.instruction Enter the example code above into the editor
  data.instruction call <code>printList()</code> from the console
  data.user-code true