data.lessonplan 
  data.title How to Create a Function
  include course.lesson.02.x.01.jade
  include course.lesson.02.x.02.jade
  include course.lesson.02.x.03.jade
  include course.lesson.02.x.04.jade