data.markup 
  data.course 
    data.title Essence of CoffeeScript
  include course.lesson.01.jade
  include course.lesson.02.jade
  include course.lesson.03.jade
  include course.lesson.04.jade
  include course.lesson.05.jade
  include course.lesson.06.jade
  include course.lesson.07.jade
  include course.lesson.08.jade
  include course.lesson.09.jade
  include course.lesson.10.jade