data.exercise 
  data.realization Read a line of CoffeeScript from right-to-left to understand it better
  data.example-code.
    console.log 'Hi ' + prompt 'What is your nickname?'
  data.instruction Read the example code above from right to left.
  data.instruction Predict what it will do and run it.
