data.exercise 
  data.realization.
    Functions can be called just like in JavaScript
  data.js-syntax.
    alert('Hi');
  data.coffee-syntax.
    alert('Hi');
  data.example-code.
    nickname = prompt('What is your nickname?');
    console.log('Hi ' + nickname);
  data.instruction Use the console below to run 1 line of CoffeeScript code at a time.
  data.instruction Run the example CoffeeScript code above by typing each line into the console.
