data.markup 
  data.course 
    data.title Essence of CoffeeScript
  include lesson01/lesson01.jade
  include lesson02/lesson02.jade
  include lesson03/lesson.jade
  include lesson04/lesson.jade
  include lesson05/lesson.jade
  include lesson06/lesson.jade
  include lesson07/lesson.jade
  include lesson08/lesson.jade
