.markup {
  display: none;
}

.course {
 margin: 8px 0 12px 0;
 border-top: 1px dotted #aaa;
 width: 660px;
 -webkit-transition: top 0.2s ease;
    -moz-transition: top 0.2s ease;
     -ms-transition: top 0.2s ease;
      -o-transition: top 0.2s ease;
         transition: top 0.2s ease;
}

.course .course-content {
 -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
     -ms-transition: opacity 0.2s ease;
      -o-transition: opacity 0.2s ease;
         transition: opacity 0.2s ease;
}

.course-content.deactivated {
 zoom: 1;
 filter: alpha(opacity=01);
 opacity: 0.01;
}

.course h1, .course h2, .course h3, .course h4, .course .title{
 text-align: left;
}

.course h1 {
 margin-top: 20px; 
 font-size: 28px;
}

.course h2 {
 margin: 12px 0;
 color: #eb8810;  
}

.course .course-content .exercise .title {
 display: none;
}

.course .course-content h3{
  margin: 40px 0 8px 0;
  text-align: left;
}

.course .lesson-navbar {
 margin-top: 12px;
 padding-top: 8px;
 color: #688bab;
 padding: 12px 20px 12px 20px;
 background-color: #EFEFEF;
 -o-border-radius: 8px;
 -ms-border-radius: 8px;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 min-height: 100px;
}

.course .lesson-navbar  ol {
 margin: 0px;
 min-height: 48px;
}

.course .lesson-navbar  ol li {
 display: inline-block;
 list-style-image: none;
}

.course .lesson-navbar ol li input[type=submit] {
 height: 32px;
 line-height: 32px;
 padding: 0 5px;
 color: #fff;
 font-size: 14px;
 margin-right: 8px;
 min-width: 32px;
 -o-border-radius: 50%;
 -ms-border-radius: 50%;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
         transition: all 0.3s ease;
}

.course .lesson-navbar ol li input.active {
 height: 48px;
 line-height: 48px;
 padding: 0 5px;
 color: #fff;
 font-size: 24px;
 margin-right: 8px;
 min-width: 48px;
 background: #eb8810;
 background: -moz-linear-gradient(top, #eb8810 0%, #eb8810 50%, #df800f 51%, #df800f 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb8810), color-stop(50%,#eb8810), color-stop(51%,#df800f), color-stop(100%,#df800f));
 background: -webkit-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -o-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -ms-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8810', endColorstr='#df800f',GradientType=0 );
 background: linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 text-shadow: -1px -1px 1px #b2660c;
}

.course .exercise-navbar {
 float:right;
 margin: 8px 0;
}

.course .exercise-navbar  ol {
 margin: 0px;
 min-height: 32px;
}

.course .exercise-navbar ol li {
 display: inline-block;
 list-style-image: none;
 margin-left: 2px;
}

.course .exercise-navbar ol li input[type=submit] {
 height: 24px;
 line-height: 24px;
 padding: 0 2px;
 color: #fff;
 font-size: 12px;
 margin-right: 2px;
 min-width: 24px;
 -o-border-radius: 50%;
 -ms-border-radius: 50%;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
         transition: all 0.3s ease;
}
.course .exercise-navbar ol li input.active {
 height: 32px;
 line-height: 32px;
 padding: 0 2px;
 color: #fff;
 font-size: 18px;
 min-width: 32px;
 background: #eb8810;
 background: -moz-linear-gradient(top, #eb8810 0%, #eb8810 50%, #df800f 51%, #df800f 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb8810), color-stop(50%,#eb8810), color-stop(51%,#df800f), color-stop(100%,#df800f));
 background: -webkit-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -o-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -ms-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8810', endColorstr='#df800f',GradientType=0 );
 background: linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 text-shadow: -1px -1px 1px #b2660c;
}
.course .course-content {
 padding: 0px;
 width: 660px;
 -o-border-radius: 8px;
 -ms-border-radius: 8px;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
 background-color: #FAFAFA;
}
.course .exercise {
 display:none;
 padding: 8px;
 padding-left: 20px;
 min-height: 300px;
}
.course .exercise ol {
  list-style-type: upper-roman;
}
.course .exercise li {
  margin-left: 26px;
}
.course .realization {
 font-weight: bold;
 font-size: 16px;
 line-height: 32px;
 margin: 8px 4px;
}
.course .editor {
  width: 600px;
  height: 150px;
  padding: 0;
  margin: 0 0 8px 0;
 -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
     -ms-transition: height 0.2s ease;
      -o-transition: height 0.2s ease;
         transition: height 0.2s ease;
}
.course .next-exercise {
 float: right;
 margin-top: 12px;
 background: #eb8810;
 background: -moz-linear-gradient(top, #eb8810 0%, #eb8810 50%, #df800f 51%, #df800f 100%);
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb8810), color-stop(50%,#eb8810), color-stop(51%,#df800f), color-stop(100%,#df800f));
 background: -webkit-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -o-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 background: -ms-linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8810', endColorstr='#df800f',GradientType=0 );
 background: linear-gradient(top, #eb8810 0%,#eb8810 50%,#df800f 51%,#df800f 100%);
}
#coffee-syntax-editor, #js-syntax-editor, #example-code-editor, #given-code-editor, #user-code-editor{
  height: 150px;
  width: 600px;
  margin: auto;
}
#user-console {
  height: 180px;
  width: 600px;
  position:relative;
  font-family: 'Source Code Pro', monospace;
  background-color: #0B202A;
  color: #526870;
  border: 2px solid #526870;
  margin-top: 8px;
}
