data.exercise 
  data.realization The body of an if can come first
  data.coffee-syntax.
    timeOfDay = 'morning' if hour < 11
    timeOfDay = 'night' if hour > 17
  data.user-code.
    getTimeOfDay = (hour)->

  data.instruction Complete the function getTimeOfDay - using ifs on the same line.
  data.instruction Have it conditionally return 'morning', 'night' or 'AFTERNOON' based on the hour.
  data.instruction Test it in the console by calling it with different values of hour.
  data.instruction Make sure the final the function returns the value you want.
