data.exercise 
  data.realization The body of an if can come first
  data.coffee-syntax.
    timeOfDay = 'morning' if hour < 11
  data.user-code.
    getTimeOfDay = (hour)->
      timeOfDay = 'morning' if hour < 11
      # +++ ToDo set timeOfDay = 'AFTERNOON' 
      timeOfDay = 'night' if hour > 17
      timeOfDay

    reportTimeOfDayForHour = (hour) -> 
      console.log "at \#{hour}, it is \#{getTimeOfDay hour}"

    reportTimeOfDayForHour 9
    reportTimeOfDayForHour 12
    reportTimeOfDayForHour 20

  data.instruction Run the given code and notice that timeOfDay is undefined at 12
  data.instruction Complete the function <code>getTimeOfDay</code> to return 'AFTERNOON' when hour is 12
  data.instruction Run the corrected code.
  data.instruction Why is <code>timeOfDay</code> the last line of the <code>getTimeOfDay</code> function?
  

