data.exercise 
  data.realization Inline simple if statments 
  data.js-syntax.
    var hour, timeOfDay;
    hour = (new Date).getHours();
    if (11 < hour && hour < 2) {
      timeOfDay = 'lunch'
    }
  data.coffee-syntax.
    hour = (new Date).getHours()
    timeOfDay = 'lunch' if 11 < hour < 2
  data.instruction See if it is lunch time
