data.exercise 
  data.realization Inlined unless
  data.js-syntax.
    var hour, timeOfDay;
    hour = (new Date).getHours();
    if (11 > hour || hour > 2) {
      timeOfDay = 'nap'
    }
  data.coffee-syntax.
    timeOfDay = 'nap' unless 11 < (new Date).getHours() < 2)
  data.instruction See if it is nap time
