data.exercise 
  data.realization A function will return the last results (like in Ruby)
  data.example-code.
    addThree = (x,y,z)-> 
      x + y + z
  data.instruction Re-write the addThree without using return