data.exercise 
  data.realization if statements return a value
  data.example-code.
    timeOfDay = if (11 < (new Date).getHours() < 2) then 'lunch' else 'nap'
  data.instruction See if it is lunch time or nap time