data.exercise 
  data.realization Indent if blocks
  data.js-syntax.
    if (navigator.geolocation) {
      alert('geo is supported');
    }
    else {
      alert(geo is unsupported');
    }
  data.coffee-syntax.
    if navigator.geolocation
      alert 'geo is supported' 
    else 
      alert 'geo is unsupported' 
  data.instruction find out if your browser supports geolocation
  data.user-code true
