data.exercise 
  data.realization A function that doesn't take any arguments, doesn't need any parenthesis
  data.js-syntax.
    var getDate = function() { return new Date; }
  data.coffee-syntax.
    getDate = ()-> new Date
    getDate = -> new Date
  data.instruction write a function called logDate that takes no arguments and prints the date to the console
