data.exercise 
  data.realization Use unless to flip an if else
  data.coffee-syntax.
    timeOfDay = 'night' unless hour < 11
  data.example-code.
    askForGeoLocation = ->
      return alert 'Seriously? You gotta update your browser!' unless navigator.geolocation
      alert 'Your browser is about to ask you to allow geolocation'
      navigator.geolocation.getCurrentPosition positionCallback

    positionCallback = (position)->
      point = position.coords
      console.log "Lat: \#{point.latitude}, Lng: \#{point.longitude}"

    askForGeoLocation()
  data.instruction Get the geo location of your browser using the example code.
