data.exercise 
  data.realization Use if on the same line
  data.js-syntax.
    var hour, timeOfDay = undefined;
    hour = (new Date).getHours();
    if (hour < 11) {
      timeOfDay = 'morning'
    }
    if (hour > 17) {
      timeOfDay = 'night'
    }
  data.coffee-syntax.
    hour = (new Date).getHours()
    timeOfDay = 'morning' if hour < 11
    timeOfDay = 'night' if hour > 17
  data.user-code.
    getTimeOfDay = (hour)->

  data.instruction Using ifs on the same line: Complete the function body for getTimeOfDay.
  data.instruction Have it conditionally return 'morning', 'night' or 'LUNCH' based on the hour.
  data.instruction Test it in the console by calling it with different values of hour.
