html, body{ background: none;}
body, input, textarea, select{ color: black;}
#primary{ display: none;} /* turn off sidebar nav */
#container{ width: auto;} /* blog content fills up space where sidebar was */
#container{ margin-top: 0; padding-top: 0;}
#main{ width: auto;} /* blog content fills up whole width */
#main{ box-shadow: none;} /* remove drop shadow */
#site-title{ text-align: center;}
#site-title a{ background: none; text-indent: 0; width: auto; height: auto; font-size: 48px; line-height: 105%;}
#site-description{ text-align: center;}
#site-description a{ position: static; background: none; text-indent: 0; width: auto; height: auto; font-size: 24px; line-height: 105%;}
#menu-header{ display: none;} /* remove nav by tag (web, mobile, process, design) */
.gist-file { line-height: 120%;}
.gist-meta a:first-child{ display: none;} /* remove 'view raw' link on gists */
.sharing{ display: none;}
#author-description{ width: auto;}
#author-link{ display: none;}
#nav-below{ display: none;}
#dsq-global-toolbar, #dsq-reply, #dsq-sort-by, .dsq-comment-actions, #dsq-pagination, #dsq-show-more-reactions, .dsq-trackback-url{ display: none;} /* hide irrelevant parts of disqus */
#footer{ width: auto; text-align: right;}

h2 + p{ page-break-before: avoid;}
#disqus_thread{ page-break-before: always;}