data.exercise 
  data.realization Variables never need to be declared with <code>var</code>
  data.js-syntax.
    var length = 5
    var cost = 8.85
    var username = 'underwater.crystals'
    var password = "Ins3cur3"
    var friendList = ['Rob', 'Chris', 'Travis', 'Lane', 'Amanda']
    var colorTheme = { textColor: 'dark gray', buttonColor: 'blue', backgroundColor: 'white' }
  data.coffee-syntax.
    length = 5
    cost = 8.85
    username = 'underwater.crystals'
    password = "Ins3cur3"
    friends = ['Rob', 'Chris', 'Travis', 'Lane', 'Amanda']
    colorTheme = { textColor: 'dark gray', buttonColor: 'blue', backgroundColor: 'white' }
  data.instruction Define a function called <strong>addThree</strong> that takes 3 arguments and returns their sum.
