data.exercise 
  data.realization Use a dash rocket <code> -> </code> to define a function
  data.js-syntax.
    var add = function(x,y) { return x + y; };
  data.coffee-syntax.
    add = (x,y)-> return x + y
  data.example-code.
    reportStatus = (msg)-> console.log 'Status:', msg
    reportStatus 'We have lift off!'
  data.instruction Define a function called <strong>addThree</strong> that takes 3 arguments and returns their sum.
  data.instruction Write the function in 1 line.
  data.instruction Call your function by running: <pre>addThree 1, 2, 3</pre>
