data.exercise 
  data.realization A function alwyas returns the results from its last expression
  data.example-code.
    addThree = (x,y,z)-> 
      x + y + z
  data.instruction Re-write the addThree without using return
