data.exercise 
  data.realization Use indentation instead of {} to specify the body of a hash
  data.example-code.
    colorTheme =
      textColor: 'dark gray', 
      buttonColor: 'blue', 
      backgroundColor: 'white'

    console.log colorTheme.textColor
    console.log colorTheme['buttonColor']

  data.instruction Use the editor to create a hash for a colorTheme.
  data.instruction Use the console to print out the hash's values.