data.exercise 
  data.realization A function with no arguments need no parenthesis
  data.js-syntax.
    var getDate = function() { return new Date; }
  data.coffee-syntax.
    getDate = -> new Date
  data.instruction write the logDate function to take no arguments and return the current date
  data.instruction Call it from the console
  data.user-code yes
