data.exercise 
  data.realization Drop the comma when elements are on their own line
  data.example-code.
    tree = [
      'leaves'
      'branches'
      'trunk'
      'roots'
    ]
    colorTheme =
      textColor: 'dark gray'
      buttonColor: 'blue'
      backgroundColor: 'white'

    console.log tree
    console.log colorTheme

  data.instruction Use the editor to define the hash colorTheme.
  data.instruction Use the console to see what it looks like when printed out. 