data.exercise 
  data.realization A function automatically returns its final value
  data.example-code.
    getHostname = -> location.hostname
    console.log getHostname()
  data.instruction Enter the code above into the editor and run it.
  data.instruction Notice that the function returns its final value.
  data.instruction This is similar to the way ruby works.