data.exercise 
  data.realization A function with no arguments doesn't need <code>()</code>
  data.example-code.
    getHostname = -> console.log location.hostname
    getHostname()
  data.instruction Define the <code>getHostname()</code> function above and call it.
  data.instruction Notice that <code>()</code> is needed to call the function, but not to define it.