data.exercise 
  data.realization A function with no arguments doesn't need <code>()</code>
  data.example-code.
    getHostname = -> console.log location.hostname
    getHostname()
  data.instruction Define the <code>getHostname()</code> above function and call it.
  data.instruction Notice that <code>()</code> is not needed to define a function with no arguments.
  data.instruction Notice that <code>()</code> is needed to invoke the function.