data.exercise 
  data.realization A function automatically returns its final value
  data.example-code.
    getHostname = ->
      location.hostname
  data.instruction define the getHostname function using the editor.
  data.instruction Call it using the console.
  data.user-code yes
