data.exercise 
  data.realization A function returns its final value
  data.example-code.
    getHostname = -> location.hostname
  data.instruction define the getHostname function, using the console, then call it.
