data.exercise 
  data.realization Get Used To Passing a Function
  data.example-code.
    quoteURL = 'https://api.github.com/zen'
    quoteCallback = (quote)-> console.log quote
    jQuery.get quoteURL, quoteCallback
  data.instruction Enter the example code into the console to get a github zen coding quote.
  data.instruction Pair with someone to either teach them, or learn from them, what each line means.