data.exercise 
  data.realization Get used to passing a function
  data.example-code.
    quoteCallback = (quote)-> console.log quote
    apiEndpoint = 'https://api.github.com/zen'
    jQuery.get quoteURL, quoteCallback
  data.instruction Get a zen coding quote from the Github API using the example code.
  data.instruction Pair with someone to understand the significance of each line.