data.exercise 
  data.realization Indent the function body
  data.example-code.
    reportRootURL = ()->
      protocol = location.protocol
      hostname = location.hostname
      console.log "\#{protocol}//\#{hostname}"
  data.instruction Enter function from the example above into the editor below.
  data.instruction Use the console to call reportRootURL()
  data.user-code yes
