data.exercise 
  data.realization Indent the function body
  data.example-code.
    reportRootURL = ->
      protocol = location.protocol
      hostname = location.hostname
      console.log "\#{protocol}//\#{hostname}"

    reportRootURL()
  data.instruction Define the reportRootURL function and call it.
