data.lessonplan 
  data.title A Function Is This Way ->
  include use-dash-rocket-to-define-a-function
  include function-with-no-arguments-doesnt-need-parenthesis
  include function-returns-its-final-value
  include indent-the-function-body
  include get-used-to-passing-a-function
