data.exercise 
  data.realization Use dash rocket <code> -> </code> to define a function
  data.js-syntax.
    var reportStatus = function(msg){ console.log('Status:', msg); };
  data.example-code.
    reportStatus = (msg)-> console.log 'Status:', msg
  data.instruction Define the 1-line reportStatus function in the editor.
  data.instruction Call it with a status message using the console.
  data.user-code yes
