data.exercise 
  data.realization Defining a class is easy
  data.example-code.
    class Mutant
      useSuperPower: (target)-> 'Spin a Web onto ' + target

    spidy = new Mutant
    spidy.useSuperPower()
  data.instruction Define the Mutant class in the editor
  data.instruction Create an instance and call useSuperPower() in the console
  data.user-code true
