data.exercise 
  data.realization Defining a class is simple
  data.example-code.
    class Mutant
      fight: (badGuy)-> 'Spin a Web onto ' + badGuy

    spidy = new Mutant
    spidy.fight('Lizard')
  data.instruction Define the Mutant class in the editor
  data.instruction Create an instance of spidy in the console and have him fight Sandman.
  data.user-code true
