data.exercise 
  data.realization [realization]
  data.description
  data.js-syntax.
    [some code]
    [some code]
  data.coffee-syntax.
    [some code]
    [some code]
  data.example-code.
    console.log name for name of window
    console.log i for i in [0..10]
    console.log (i for i in [0..10])
  data.given-code.
    
    [some code]
  data.instruction [instruction]
  data.instruction [instruction]
  data.user-code true
