data.lessonplan 
  data.title Working With Class
  include defining-a-class-is-simple
  include this-has-an-alias
  include use-a-constructor-for-initialization
  include pick-up-instance-variables-from-arguments
  include classes-can-inherit-from-other-classes