data.exercise 
  data.realization Use a constructor for initialization
  data.example-code.
    class Mutant
      superPower: 'do nothing'

      constructor: (power) -> @superPower = power

      useSuperPower: (target)-> @superPower + ' onto ' + target

    spidy = new Mutant 'spin web'
    spidy.useSuperPower()
  data.instruction Define the Mutant class in the editor.
  data.instruction Create an instance of spidy and use the instance in the console.
  data.user-code true
