data.exercise 
  data.realization Use a constructor for initialization
  data.example-code.
    class Mutant
      superPower: 'do nothing'
      constructor: (power) -> @superPower = power
      fight: (badGuy)-> @superPower + ' onto ' + badGuy

    spidy = new Mutant 'spin web'
    spidy.fight 'SandMan'
  data.instruction Define the Mutant class in the editor.
  data.instruction Create an instance of spidy in the console and have him fight Sandman.
  data.user-code true