data.exercise 
  data.realization Add punctuations to improve readability
  data.example-code.
    (alert 'Hi')
    console.log 'Hi ' + prompt('What is your nickname?')
  data.instruction Experiment with different placement of parenthesis.
  data.instruction Find a style that enhances the readability of your code for others.