data.exercise 
  data.realization Every expression returns a value
  data.example-code.
    date = new Date()
    hour = date.getHours()    
    now = if hour > 17 then 'night' else 'day'
    console.log "It is now \#{now} time."
  data.instruction Check it out - an if statement actually returns a value.
  data.instruction This is very similar to the way ruby works.
  data.instruction Get a hands-on feeling for this by entering the example code into the editor.