data.exercise 
  data.realization Every expression returns a value
  data.example-code.
    timeOfDay = if hour > 17 then 'night' else 'day'
  data.instruction Come up with your own condition and enter it into either the editor.
  data.instruction Program your console to see your results.
  data.user-code yes