data.exercise 
  data.realization Every expression returns a value
  data.example-code.
    timeOfDay = if hour > 17 then 'night' else 'day'
  data.instruction Come up with your own condition - enter it into the editor.
  data.instruction Assign a variable to the result of your if statement.
  data.instruction Use the console to see what your variable gets set to.