data.exercise 
  data.realization Read from right-to-left
  data.example-code.
    console.log 'Hi ' + prompt 'What is your nickname?'
  data.instruction Predict what the example code above will do by reading it from right to left.
  data.instruction Run it in the console to see if you got it.
