data.exercise 
  data.realization Add punctuations wherever it improves readability
  data.example-code.
    (alert 'Hi')
  data.instruction Experiment with different placement of parenthesis.
  data.instruction Find a style that enhances the readability of your code for others.