data.exercise 
  data.realization Use parenthesis wherever it adds readability
  data.coffee-syntax.
    (alert 'Hi')
  data.example-code.
    nickname = prompt 'What is your nickname?'
    (console.log 'Hi ' + nickname)
    console.log('Hi ' + nickname)
  data.instruction Experiment with different placement of parenthesis.
  data.instruction Find a style that enhances the readability of your code for others.