data.exercise 
  data.realization Indent blocks of code
  data.js-syntax.
    funGames = { 
      chess: false,
      checkers: true,
      baseball: true,
      basketball: true,
      fishing: false,
    }
  data.coffee-syntax.
    funGames = 
      chess: false,
      checkers: true,
      baseball: true,
      basketball: true,
      fishing: false

  data.example-code.
    colorTheme =
      text: 'blue',
      button: 'red'

    console.log colorTheme.text
    console.log colorTheme['button']

  data.instruction Use the editor to define a hash.
  data.instruction Use the console to print it out.