data.exercise 
  data.realization Skip commas when elements are on their own line
  data.example-code.
    bigTree = [
      'leaves'
      'branches'
      'trunk'
      'roots'
    ]

    funGames =
      board:
        chess: false
        checkers: true
      ball:
        baseball: true 
        basketball: true
      others:
        fishing: false

  data.instruction Use the editor below to define a hash and an array without using commas.
  data.instruction Use the console to print them out.
  data.user-code yes
