data.exercise 
  data.realization Use variables inside of strings
  data.example-code.
    itemCount = 4
    cost = 14.99
    total = "Total cost of \#{itemCount} items comes out to $\#{cost}"
    console.log total
  data.instruction Run the example code above using double quotes for <code>total</code>.
  data.instruction Find out what happens if you use single quotes instead.
