data.exercise 
  data.realization Variables never need to be declared with <code>var</code>
  data.js-syntax.
    var cost = 9.99
    var username = 'underwater.crystals'
    var friendList = ['Rob', 'Chris', 'Travis', 'Lane', 'Amanda']
    var colorTheme = { text: 'blue', button: 'red', background: 'white' }
  data.coffee-syntax.
    cost = 9.99
    username = 'underwater.crystals'
    friends = ['Rob', 'Chris', 'Travis', 'Lane', 'Amanda']
    colorTheme = { text: 'blue', button: 'red', background: 'white' }

    console.log colorTheme
  data.instruction Stop worrying about always remembering to use 'var' 