data.exercise 
  data.realization Every expression returns a value
  data.example-code.
    hour = (new Date).getHours()
    timeOfDay = if hour > 17 then 'night' else 'day'
  data.instruction Predict what timeOfDay will be set to at this hour.
  data.instruction Enter the example into the console and  see if you got it.