data.lessonplan 
  data.title A Handful of Fundamentals
  include skip-the-punctuation
  include never-specify-var
  include use-indentation-instead-of-curly-braces
  include use-the-pound-sign-to-comment
  include every-expression-returns-a-value
  