data.exercise 
  data.realization Never specify <code>var</code>
  data.js-syntax.
    var cost = 9.99
    var username = 'underwater.crystals'
    var colorTheme = {
      text: 'blue',
      button: 'red',
      background: 'white'
    }
  data.coffee-syntax.
    cost = 9.99
    username = 'underwater.crystals'
    colorTheme =
      text: 'blue'
      button: 'red'
      background: 'white'
  data.instruction Stop worrying about forgetting a 'var' somewhere. 