data.exercise 
  data.realization Never specify <code>var</code>
  data.js-syntax.
    var cost = 9.99
    var total = '$ ' + cost + ' is your total cost.'
  data.coffee-syntax.
    cost = 9.99
    total = "$ \#{cost} is your total cost."
  data.instruction Well, practice not writing <code>var</code>. Ok then hit next.
