data.exercise 
  data.realization Never specify <code>var</code>
  data.js-syntax.
    var cost = 9.99
    var total = '$ ' + cost + ' is your total cost.'
  data.coffee-syntax.
    cost = 9.99
    total = "$ \#{cost} is your total cost."
  data.instruction Use the editor below to practice not writing <code>var</code>.
  data.instruction Take as much time as you need, hit next when your done :)
