data.exercise 
  data.realization.
    Punctuation is optional, so skip it ;}),
  data.js-syntax.
    console.log('Hi');
  data.coffee-syntax.
    console.log 'Hi'
  data.example-code.
    nickname = prompt "What's your nickname?"
    console.log 'Hi ' + nickname
  data.instruction Enter the example CoffeeScript code (above) into the CoffeeScript Hacker, umm - I mean editor (below).
  data.instruction Press the run button to see results in the console.
