data.exercise 
  data.realization.
    Skip the punctuation ;}),
  data.js-syntax.
    alert('Hi');
  data.coffee-syntax.
    alert 'Hi'
  data.example-code.
    nickname = prompt 'What is your nickname?'
    console.log 'Hi ' + nickname
  data.instruction Run the example code above by entering it into the console below.