data.exercise 
  data.realization.
    Skip the punctuation ;}),
  data.js-syntax.
    console.log('Hi');
  data.coffee-syntax.
    console.log 'Hi'
  data.example-code.
    console.log 'Hi ' + prompt 'What is your nickname?'
  data.instruction Run the example code above by entering it into the console below.