data.exercise 
  data.realization Use indentation instead of { } curly braces
  data.js-syntax.
    if (hour > 17) {
      now = 'night'
    }
    else {
      now = 'day'
    }
  data.example-code.
    if hour > 17
      now = 'night'
    else
      now = 'day'
  data.instruction Enter the if statement above into the editor below.
  data.instruction Use the console to see what your value of now is.
  data.user-code yes
