data.exercise 
  data.realization Use indentation instead of { } curly braces
  data.js-syntax.
    date= new Date()
    hour = date.getHours()
    if (hour > 17) {
      now = 'night'
    }
    else {
      now = 'day'
    }
  data.example-code.
    date= new Date()
    hour = date.getHours()
    if hour > 17
      now = 'night'
    else
      now = 'day'
    console.log "It is now \#{now} time."
  data.instruction Write an if/else statement using indentation.
  data.instruction Notice that the structure of the code contains valuable information.
  data.instruction This is very similar to the way python works. Or haml. Or sass.
