data.exercise 
  data.realization Use indentation instead of { } curly braces
  data.js-syntax.
    date= new Date()
    hour = date.getHours()
    if (hour > 17) {
      now = 'night'
    }
    else {
      now = 'day'
    }
  data.example-code.
    date= new Date()
    hour = date.getHours()
    if hour > 17
      now = 'night'
    else
      now = 'day'
  data.instruction Enter the example code above into your editor below.
  data.instruction Enter <code>console.log now</code> in the console to see the value of now.
  data.user-code yes