data.exercise 
  data.realization Use indentation instead of { } curly braces
  data.js-syntax.
    date= new Date()
    hour = date.getHours()
    if (hour > 17) {
      now = 'night'
    }
    else {
      now = 'day'
    }
  data.example-code.
    date= new Date()
    hour = date.getHours()
    if hour > 17
      now = 'night'
    else
      now = 'day'
  data.instruction Enter the example code above into your editor below.
  data.instruction View the values for <code>hour</code> and <code>now</code> with <code>console.log hour</code> and <code>console.log now</code>
  data.user-code yes